<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
</head>
<body>
<!-- FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <h1>Add User</h1>
    <form method="POST">
    <label for="name">User Name:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">Add User</button>
</form>
</body>
</html>