<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movie Web App – Index</title>
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>Movie Web App – Index</h1>
  <ul>
    <li><a href="{{ url_for('main.index') }}">Index Page</a></li>
    <li><a href="{{ url_for('main.list_users') }}">List All Users</a></li>
    <li><a href="{{ url_for('main.add_user') }}">Add a New User</a></li>
  </ul>

</body>
</html>
